certifi==2023.7.22 ; python_version >= "3.7" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "3.11"
charset-normalizer==3.3.0 ; python_version >= "3.7" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "3.11"
commonmark==0.9.1 ; python_version >= "3.7" and python_version < "3.11"
cryptography==41.0.4 ; python_version >= "3.7" and python_version < "3.11"
idna==3.4 ; python_version >= "3.7" and python_version < "3.11"
numpy==1.21.6 ; python_version >= "3.7" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.7" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.7" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.7" and python_version < "3.11"
pycryptodomex==3.19.0 ; python_version >= "3.7" and python_version < "3.11"
pygments==2.16.1 ; python_version >= "3.7" and python_version < "3.11"
pyzipper==0.3.6 ; python_version >= "3.7" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.7" and python_version < "3.11"
rich==10.16.2 ; python_version >= "3.7" and python_version < "3.11"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.8"
urllib3==2.0.6 ; python_version >= "3.7" and python_version < "3.11"
