-i https://pypi.python.org/simple

certifi==2020.12.5

cffi==1.14.4

chardet==4.0.0

colorama==0.4.4

cryptography==3.3.1

idna==2.10

pexpect==4.8.0

ptyprocess==0.6.0

pycparser==2.20

pycryptodomex==3.9.9

pyzipper==0.3.1

requests==2.25.0

six==1.15.0

urllib3==1.26.2

